# Python stuff
*.pyc
build/
.mypy
__pycache__/
dist/
LADiM2.egg-info/

# Hidden directories
.*/

# Data files
examples/data/*
!examples/data/README.rst
!examples/data/download.py
*.nc
*.npy
*.wkb

# Release files
*.rls

# Documentation build stuff
doc/build

# Emacs noise
*~
