# Python stuff
*.pyc
build/
*.egg-info/

# Hidden directories
.*/

# Data files
examples/data/*
!examples/data/README.rst
!examples/data/download.py
*.nc
*.npy
*.wkb

# Documentation stuff
doc/build

# Emacs noise
*~
